body {
  background: rgb(220, 220, 220);
  margin: 0;
  box-sizing: border-box;
}



#time {
  font-size: 50px;
}

.Buttoncontainer {
margin-bottom: 100px;

  
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}
button:hover {
  filter: grayscale(0.5);
}
button:focus {
  outline: none;
}

#start {
  background: black;
  text-decoration-color: azure
}
#pause {
    background: black;
    text-decoration-color: azure
  display: none;
}
#reset {
    background: black;
    text-decoration-color: azure
  display: none;
}
